<div id="primary-navbar"></div>

<div id="blouch" class="container">
  <div class="row">
    <div id="blouch-features" class="span12"></div>
  </div>
  <hr />
  <div class="row">
    <div id="blouch-content" class="list span9"></div>
    <div id="blouch-sidebar" class="span3">
      <h2>Other stuff</h2>
      <div id="github-feed"></div>
      <div id="twitter-feed">
        <a class="twitter-timeline" href="https://twitter.com/chewbranca" data-widget-id="268243322441695232">Tweets by @chewbranca</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>

<div id="disqus-base"></div>
<div id="google-analytics"></div>
